body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#map {
  width: 80%;
  height: 400px;
}

.controls {
  margin: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#chart {
  width: 80%;
  height: 400px;
}
